body {
    background-image: url("./img/Donuts.jpg");
    background-size: cover;
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    color: white;
    background-color: rgb(247, 8, 147);
    border: solid 5px black;
    border-radius: 25px;
}

a {
color: white;
}

a:hover {
    color: rgb(12, 223, 255);
}

.store-container {
    display: inline-block;
    background-color: rgb(247, 8, 147);
    border: solid 5px black;
    border-radius: 25px;
    width: 15%;
    height: 36vh;
    margin: 20px;
    padding: 20px;
}

.store-header {
    color: white;
}

#auto-clickers {
    color: white;
    text-decoration: underline;
}

#auto-clickers-purchased {
    font-size: 20px;
}

#cost {
    text-decoration: underline;
}

#auto-clicker-cost {
    font-size: 20px;
}

.store-menu {
    color: white;
}

#store-button {
    border-radius: 8px;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    padding: 1px;
    background-color: rgb(12, 223, 255);
}

.gameplay {
    display: inline-block;
    background-color: rgb(247, 8, 147);
    border: solid 5px black;
    border-radius: 25px;
    width: 35%;
    height: 45vh;
    margin: 20px;
    padding: 20px;
}

#donut-num-text {
    font-size: 25px;
    text-decoration:underline;
    color: white;
}

#make-donuts {
    border-radius: 8px;
    font-size: larger;
    font-style: italic;
    font-weight: bold;  background-color: rgb(12, 223, 255);
}

#player-score {
    display: inline-block;
    padding-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    width: 90%;
    height: 10vh;
    font-size: 40px;
    


}

.reset {
    display: inline-block;
    justify-content: center; 
    margin: 1rem;
    padding: 1rem;   
}

#reset-button {
    border-radius: 8px;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    background-color: yellow;
    width: 10vh;
    height: 6vh;
}


